* {
  font-family: "Poppins", sans-serif !important;
}

ul li a {
  font-family: "Open sans", sans-serif !important;
  transition: color 0.3s ease-in-out;
}

.center {
  width: 100%;
  text-align: center;
}

/* root */
:root {
  --shadow: 0px 4px 5px rgb(0, 0, 0, 0.25);
}

.like-btn {
  border: 0.2rem solid white;
  padding: 15px;
  color: white;
  font-family: "Roboto", sans-serif !important;
  transition: background-color 0.3s ease-in-out;
}

.like-btn:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 2px 3px rgb(255, 255, 255);
}

@media screen and (max-width: 750px) {
  ul li a {
    display: none;
  }

  nav h1 {
    font-family: 30px !important;
  }
}
